{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Drag-Drop-File-Input-Upload.css' %}">
    <style>
        .collapsible {
            background-color: #777;
            color: #007bff;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }
        .active, .collapsible:hover {
            background-color: lightgray;
        }
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
        .arrow {
            float: right;
            transition: transform 0.3s ease;
        }
        .rotate {
            transform: rotate(90deg);
        }
        iframe {
            display: block;
        }
        </style>
        
</head>

{% include 'base.html' %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Admin Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-13">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">System Metrics</h6>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="card-header collapsible">Container Metrics<i class="fa fa-chevron-right arrow"></i></button>
                                        <div class="content card-body bg-dark p-1">
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/bblxXuMQVENpzMnAQ8Sq04nhXWZfBihk?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/K3Gi3NyvZIKkOZ3HdZxD1NO3eKWm5dB4?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/IP1f44mPd8PvyLDKJtLytIowPglLEQHt?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/vqmwY3C5HJANXaxmiEB840lwRr2cw6Mn?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                        </div>
                                    <button type="button" class="card-header collapsible mt-2">Torchserve Inference Metrics<i class="fa fa-chevron-right arrow"></i></button>
                                    <div class="content card-body bg-dark p-2">
                                        <div class="row justify-content-center">
                                          <div class="col-md-2">
                                            <iframe src="http://localhost:3000/d-solo/hozzuA-4k/torchserve-metrics?orgId=1&from=1678746828990&to=1678765716394&panelId=6" width="250" height="250" frameborder="0"></iframe>
                                          </div>
                                          <div class="col-md-2">
                                            <iframe src="http://localhost:3000/d-solo/hozzuA-4k/torchserve-metrics?orgId=1&from=1678723662155&to=1678765996226&panelId=8" width="250" height="250" frameborder="0"></iframe>
                                          </div>
                                          <div class="col-md-2">
                                            <iframe src="http://localhost:3000/d-solo/hozzuA-4k/torchserve-metrics?orgId=1&from=1678723662155&to=1678766299534&panelId=16" width="250" height="250" frameborder="0"></iframe>
                                          </div>
                                          <div class="col-md-2 mb-2">
                                            <iframe src="http://localhost:3000/d-solo/hozzuA-4k/torchserve-metrics?orgId=1&from=1678684565041&to=1678770965041&panelId=14" width="250" height="250" frameborder="0"></iframe>
                                          </div>
                                          <div class="col-md-2">
                                            <iframe src="http://localhost:3000/d-solo/hozzuA-4k/torchserve-metrics?orgId=1&from=1678723662155&to=1678766299534&panelId=10" width="250" height="250" frameborder="0"></iframe>
                                          </div>
                                          <div class="col-md-2">
                                            <iframe src="http://localhost:3000/d-solo/hozzuA-4k/torchserve-metrics?orgId=1&from=1678723662155&to=1678766299534&panelId=20" width="250" height="250" frameborder="0"></iframe>
                                          </div>
                                        </div>
                                        <div class="row mb-2">
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/s196QXvalqrbRBq4ZillztI6YD85PmF4?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/URBlXPEk22ioHMmJJRZLlQvdFEPsDt1O?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                            <iframe src="https://snapshots.raintank.io/dashboard/snapshot/KpoNo2s6nqbSM5zfeywrT7iS51D7bEyc?orgId=2&kiosk" width="1600" height="800" frameborder="0"></iframe>
                                        </div>
                                    </div>                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>© 2023, MICHAEL NGUYEN, CC-BY-NC-ND 4.0</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var collapse = document.getElementsByClassName("collapsible");
        var btns = document.querySelectorAll('.collapsible');
        var arrows = document.querySelectorAll('.arrow');

        // Get the iframe element
        var iframe = document.querySelector('iframe');

        // Wait for the iframe to load
        iframe.addEventListener('load', function() {
            // Get the contents of the iframe
            var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;

            // Set the zoom level to fit the contents
            var zoomLevel = Math.min(iframe.offsetWidth / iframeDoc.body.scrollWidth, iframe.offsetHeight / iframeDoc.body.scrollHeight) * 100;
            iframeDoc.body.style.zoom = zoomLevel + '%';
        });

        for (var j = 0; j < btns.length; j++) {
            btns[j].addEventListener('click', function() {
            var arrow = this.querySelector('.arrow');
            arrow.classList.toggle('rotate');
            });
        }

        for (var i = 0; i < collapse.length; i++) {
            collapse[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
            });
        }
    </script>
</body>

</html>