{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Drag-Drop-File-Input-Upload.css' %}">

    <style>
        .image-thumbnail{
            height: 200px;
        }
        .delete-selected {
            margin-left: 10px;
        }
        .photo-checkbox {
            display: none;
          }
    </style>
</head>


{% include 'base.html' %}
                <div class="container-fluid">
                <form method="POST" action="">
                {% csrf_token %}
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Gallery</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Categories&nbsp;</h6>
                                </div>
                                <ul class= "list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="{% url 'gallery' user.id %}?category=All">All</a>
                                    </li>
                                    {% for category in categories %}
                                     <li class="list-group-item">
                                        <a href="{% url 'gallery' user.id %}?category={{category.name}}">{{category.name}}</a>
                                    </li>
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Gallery</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="m-2">
                                            <input type="checkbox" class="select-all">
                                            <label class="m-2" for="select-all">Select all photos</label>

                                            <input type="checkbox" class="select-specific">
                                            <label class="m-2" for="select-specific">Select specific photo(s)</label>
                                            
                                            <button id="delete-selected" type="button" class="btn btn-danger btn-sm" style="display: none;"> Delete</button>
                                        </div>
                                    </div>
                                  </div>
                                <div class="row">
                                    {% for photo in photos %}
                                    <div class="card shadow m-4 mb-4 pt-2" style="width: 18rem;">
                                        <div class="form-check">
                                            <input id="photo_{{photo.id}}" type="checkbox" class="form-check-input photo-checkbox" name="photo_{{photo.id}}" value="{{photo.id}}">
                                        </div>
                                        <img class="card-img-top image-thumbnail" src="{{photo.image.url}}" alt="{{photo.description}}">
                                        <div class="card-body">
                                          {% if photo.category.name is empty %}
                                          <small class="card-text">Category: Uncategorized</small>
                                          {% else %}
                                          <small class="card-text">Category: {{photo.category.name}}</small>
                                          {% endif %}
                                        </div>
                                        <a class = "btn btn-outline-dark btn-sm m-1" href="{% url 'photo' photo.id %}">View</a>
                                    </div>
                                    {% empty %}
                                    <h6 class="fw-bold m-2">No photos currently. Start uploading!</h6>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            var deleteBtn = $('#delete-selected'); // Cache the button element for performance
            var photoCheckboxes = $('.photo-checkbox'); // Cache the photo checkboxes for performance
            var selectAllCheckbox = $('.select-all');
            var selectSpecificCheckbox = $('.select-specific');
            deleteBtn.hide(); // Hide the Delete selected button by default
            togglePhotoCheckboxes(false); // Hide the photo checkboxes initially

            // Check all function to check all photo checkboxes
            function checkAll(checked) {
                photoCheckboxes.prop('checked', checked);
            }

            // Function to toggle visibility of photo checkboxes
            function togglePhotoCheckboxes(visible) {
                $('.photo-checkbox').each(function() {
                    $(this).parent().toggle(visible);
                    $('.photo-checkbox').toggle(visible);
                });
            }
        
            // Listen for changes to the Select all checkbox
            $('.select-all').on('change', function() {
                if ($(this).is(':checked')) {
                    selectSpecificCheckbox.prop('checked', false);
                    togglePhotoCheckboxes(true);
                    deleteBtn.show(); // Show the Delete selected button
                    checkAll(true); // Check all photo checkboxes
                } else {
                    togglePhotoCheckboxes(false);
                    deleteBtn.hide(); // Hide the Delete selected button
                    checkAll(false); // Uncheck all photo checkboxes
                }
            });

            $('.select-specific').on('change', function() {
                if ($(this).is(':checked')) {
                    selectAllCheckbox.prop('checked', false);
                    togglePhotoCheckboxes(true);
                    deleteBtn.show(); // Show the Delete selected button
                    checkAll(false); // Check all photo checkboxes
                } else {
                    togglePhotoCheckboxes(false);
                    deleteBtn.hide(); // Hide the Delete selected button
                    checkAll(false); // Uncheck all photo checkboxes
                }
            });

            // Handle the deletion of selected photos when the Delete button is clicked
            deleteBtn.click(function() {
                var photoIds = photoCheckboxes.filter(':checked').map(function() {
                    return this.value;
                }).get();
                if (photoIds.length > 0 && confirm('Are you sure you want to delete selected photos?')) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'remove' pk=user.pk %}",
                        data: {
                            'action': 'remove',
                            'photo_ids': photoIds.join(','),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function() {
                            location.reload();
                        },
                        error: function() {
                            alert('An error occurred while deleting photos.');
                        }
                    });
                }
            });
        });
        

    </script>
        
</body>

</html>