{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Delete Category</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Drag-Drop-File-Input-Upload.css' %}">
</head>

{% include 'base.html' %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Application Settings</h3>
                        <br>
                        {% if messages %}
                            {% for message in messages %}
                            <p class="text-center" id="messages">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Categories&nbsp;</h6>                                    
                                </div>
                                <ul class= "list-group list-group-flush">
                                    {% if not categories %}
                                    <p class="text-center mt-1">No Categories Yet...</p>
                                    {% endif %}
                                    {% for category in categories %}
                                    <form method="POST" action="{% url 'handle_category' category.id %}">
                                    {% csrf_token %}
                                     <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{category.name}}
                                        <button type="submit" class="btn btn-sm btn-danger float-end" name="action" value="delete">Delete</button>
                                     </li>
                                    </form>
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow mb-4">
                            <form method="POST" action="">
                            {% csrf_token %}
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Add New Category</h6>
                                    <button type="submit" class="btn btn-sm btn-primary" name="action" value="add">Add</button>
                                </div>
                                <ul class= "list-group list-group-flush">
                                     <li class="list-group-item">
                                        <div class="form-group">
                                            <label for="category_name">Category Name:</label>
                                            <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Enter category name">
                                        </div>
                                     </li>
                                </ul>
                            </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow mb-4">
                                <form method="POST" action="">
                                {% csrf_token %}
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Update Category</h6>
                                    <button type="submit" class="btn btn-sm btn-primary" name="action" value="update">Update</button>
                                </div>
                                <ul class= "list-group list-group-flush">
                                     <li class="list-group-item">
                                        <div class="form-group mb-1">
                                            <label>Select a Category</label>
                                            <select name="category" class="form-control">
                                                <option value="">Select a Category...</option>
                                                {% for category in categories %}
                                                <option value="{{category.id}}">{{category.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="category_name_new">New Category Name:</label>
                                            <input type="text" class="form-control" id="category_name_new" name="category_name_new" placeholder="Enter new category name">
                                        </div>
                                     </li>
                                </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>© 2023, MICHAEL NGUYEN, CC-BY-NC-ND 4.0</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          // disable the add button on page load
          $('button[name="action"][value="add"]').prop('disabled', true);
          $('button[name="action"][value="update"]').prop('disabled', true);
        
          // enable the add button when category name input field is not empty
          $('#category_name').on('input', function() {
            if ($(this).val()) {
              $('button[name="action"][value="add"]').prop('disabled', false);
            } else {
              $('button[name="action"][value="add"]').prop('disabled', true);
            }
          });

          $('#category_name_new').on('input', function() {
            if ($(this).val()) {
              $('button[name="action"][value="update"]').prop('disabled', false);
            } else {
              $('button[name="action"][value="update"]').prop('disabled', true);
            }
          });
        });
        
    </script>
</body>

</html>