{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Upload</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Drag-Drop-File-Input-Upload.css' %}">
</head>

{% include 'base.html' %}
                <div class="container-fluid">
                    <form id="upload-form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="model_chosen" id="model-chosen-value">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Upload for Super Resolution</h3>
                        <button id="upload-btn" class="btn btn-primary btn-sm d-none d-sm-inline-block" type="submit"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Upload</button>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Select file(s) to upload:</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group m-3">
                                        <input required class="form-control-file" name="images" type="file" multiple>
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Description</label>
                                        <input class="form-control" name="description" type="text" placeholder="Enter a description...">
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Select a Category</label>
                                        <select name="category" class="form-control">
                                            <option value="">Select a Category...</option>
                                            {% for category in categories %}
                                            <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <label> ---------OR---------- </label>
                                        <br>
                                    <div class="form-group m-3">
                                        <label> Create a new Category </label>
                                        <input class="form-control" name="category_custom" type="text" placeholder="Create a new Category...">
                                    </div>
                                    {% for message in messages %}
                                        <p id="messages">{{message}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Select Super Resolution Model:</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name='model-chosen' id="formCheck-3" value="realesrgan">
                                        <label class="form-check-label" for="formCheck-3">Real-ESRGAN (GAN)</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name='model-chosen' id="formCheck-4" value="swinir">
                                        <label class="form-check-label" for="formCheck-4">Swin-IR (Transformer)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="col-lg-7 col-xl-8">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Instructions:</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-header">1. Select file(s) to upload.</p>
                                <p class="card-header">2. Enter image description.</p>
                                <p class="card-header">3. Select a category or create a new one.</p>
                                <p class="card-header">4. Select the one of the Super Resolution models.</p>
                                <p class="card-header">5. Submit with upload button. Wait until upload is finished to see results.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>© 2023, MICHAEL NGUYEN, CC-BY-NC-ND 4.0</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const uploadBtn = document.getElementById('upload-btn');

        // Add an event listener to the radio buttons
        $('input[name=model-chosen]').change(function() {
          // Retrieve the selected radio button value
          var chosenValue = $('input[name=model-chosen]:checked').val();
          // Set the value of the model-chosen-value element
          $('#model-chosen-value').val(chosenValue);
        });
        // Add an event listener to the form submission
        $('#upload-form').submit(function(e) {
            // Check if one of the radio buttons is selected
            if (!$('input[name=model-chosen]').is(':checked')) {
            // If not, prevent the form from submitting
            alert('Please select a model before uploading.');
            e.preventDefault();
            return false;
            }
            
            uploadBtn.innerHTML = `
            <span class="spinner-border spinner-border-sm"></span>
            Loading...
            `;
            uploadBtn.disabled = true;
        });
      </script>
</body>

</html>