{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>View Photo</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Drag-Drop-File-Input-Upload.css' %}">
    <style>
        .image-thumbnail{
            max-width: 100%;
            max-height: 400px;
            object-fit: contain;
        }
    </style>

</head>

{% include 'base.html' %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">View Photo</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-9">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">SR-Enhanced Photo</h3>
                                </div>
                                <div class="card-body">
                                    <img class="image-thumbnail card-img-top" src="{{srphoto.image.url}}" alt="{{photo.description}}">
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Original Photo</h3>
                                </div>
                                <div class="card-body">
                                    <img class="image-thumbnail card-img-top" src="{{photo.image.url}}" alt="{{photo.description}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="col-lg-7 col-xl-12">
                                <div class="card shadow mb-4">
                                    <form method="POST" action="{% url 'update' photo.id %}">
                                    {% csrf_token %}
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Additional Information</h6>
                                        <button type="submit" class="btn btn-sm btn-primary" name="action" value="editPhoto">Edit Info</button>
                                    </div>
                                    <div class="card-body">
                                        {% if photo.category.name is empty %}
                                        <p><b>Category:</b> Uncategorized</p>
                                        {% else %}
                                        <p><b>Category:</b> {{photo.category.name}}</p>
                                        {% endif %}
                                        <p><b>Description:</b> {{photo.description}}</p>
                                        <p><b>Upload Date:</b> {{photo.upload_date|date:'m/d/Y H:i'}}</p>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Image Properties</h6>
                                </div>
                                <div class="card-body">
                                    <p class='card header text-center'><b>SR-Enhanced Photo</b></p>
                                    <p><b>Model:</b> {{srphoto.model_chosen}}</p>
                                    <p><b>Resolution:</b> {{width}} x {{height}}</p>
                                    <p><b>Filename:</b> {{srphoto.image.name}}</p>
                                    <p><b>File Size:</b> {{sr_file_size}} KB</p>
                                    <p><b>File Format:</b> {{sr_file_format}}</p>
                                    <p><b>Color Space:</b> {{sr_color_mode}}</p>
                                    <p><b>Metrics -</b></p>
                                    <p><b>Metrics - &nbsp; NIQE: </b>{{srphoto.niqe}}</b> <b>&nbsp; BRISQUE: </b>{{srphoto.brisque}}</p>

                                    <p class='card header text-center'><b>Original</b></p>
                                    <p><b>Resolution:</b> {{width}} x {{height}}</p>
                                    <p><b>Filename:</b> {{photo.image.name}}</p>
                                    <p><b>File Size:</b> {{file_size}} KB</p>
                                    <p><b>File Format:</b> {{file_format}}</p>
                                    <p><b>Color Space:</b> {{color_mode}}</p>
                                    <p><b>Metrics - &nbsp; NIQE: </b>{{photo.niqe}}</b> <b>&nbsp; BRISQUE: </b>{{photo.brisque}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>