{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Drag-Drop-File-Input-Upload.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        {% if user.is_authenticated %}
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(52,58,64);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-cloudversify"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Enhancex3</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% if request.user.is_staff %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-chart-bar"></i><span>Admin Dashboard</span></a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'upload' user.id %}"><i class="fa fa-cloud-upload"></i><span>Upload Images/Videos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gallery' user.id %}"><i class="fa fa-image"></i><span>Gallery</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'handle_category' user.id %}"><i class="fa fa-cog"></i><span>Application Settings</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        {% endif %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{% url 'home' %}">
                            <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-cloudversify"></i></div>
                            <div class="sidebar-brand-text mx-3"><span>Enhance! Enhance! Enhance!</span></div>
                        </a>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% if user.is_authenticated == False %}
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link nav-link" aria-expanded="false" href="{% url 'register' %}"><i class="fas fa-fw"></i>&nbsp;Register</a>                    
                            <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link nav-link" aria-expanded="false" href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-fw"></i>&nbsp;Login</a>                    
                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{customer.user}}</span><img class="border rounded-circle img-profile" src="{% static 'assets/img/avatars/avatar5.jpeg' %}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="{% url 'profile' user.id %}"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    {% if user.is_authenticated%}
                        {% if not request.user.is_staff %}
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Hi, {{customer.customer_First_Name}} {{customer.customer_Last_Name}}!</h3>
                        </div>
                        {% else %}
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">Hi, Admin!</h3>
                        </div>
                        {% endif %}
                    {% else %}
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Homepage</h3>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-4">
                            <div class="card pb-5">
                                <div class="card-header">
                                    <p>Information</p>
                                </div>
                                <div class="card-body">
                                    <p><b>Welcome to Enhance! Enhance! Enhance!</b></p>
                                    <p>The Django application uses deep learning-based Super Resolution (SR) models to enhance low resolution images using the Torchserve API.</p>
                                    <p><b>Note.</b> This application is used for thesis experimental and demo purposes.</p>
                             
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <p>Models</p>
                                </div>
                                <div class="card-body">
                                    <p class="mb-4">Super Resoluton Models for this application: <a href="https://github.com/xinntao/Real-ESRGAN"><b>Real-ESRGAN</b></a> and <a href="https://github.com/JingyunLiang/SwinIR"><b>Swin-IR</b></a>.</p>
                                    <p>Both models were pre-trained using the <a href="https://cv.snu.ac.kr/research/EDSR/DIV2K.tar">DIV2K</a> and <a href="https://cv.snu.ac.kr/research/EDSR/Flickr2K.tar">Flickr2K</a> dataset for real-world image SR.</p>
                                    <p> &nbsp;&nbsp;- <b>Real-ESRGAN</b> utilizes a Generative Adversarial Network (GAN) architecture.</p>
                                    <p> &nbsp;&nbsp;- <b>Swin-IR</b> utilizes a Transformer-based architecture.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card pb-4">
                                <div class="card-header">
                                    <p>Instructions</p>
                                </div>
                                <div class="card-body pb-1">
                                    <p>1. Create an account and/or login.</p>
                                    <p>2. Select photos to upload and select SR model.</p>
                                    <p>3. Upload!</p>
                                    <p>4. View your results in Photo Gallery. <br>&nbsp;&nbsp;<b>Start Today!</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>© 2023, MICHAEL NGUYEN, CC-BY-NC-ND 4.0</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>